.container_rodape {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 10vh;
  padding: 20px;
  background-color: black;
  color: #8a8fa3;
}

.container_rodape a {
  color: #fff;
  text-decoration: none;
}

.container_rodape a:hover {
  color: #ccc;
  text-decoration: none;
}
